h1 {
  text-align: center;
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

ul li {
  text-align: center;
  font-family: helvetica;
  font-size: 18px;
  color: white;
  list-style-type: none;
}

h2 {
  text-align: center;
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  text-align: center;
  font=font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}
h4 {
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
  }
  .header {
    background-image: url("../images/the-flatiron-building.jpg");
  }
  .loctag {
    background-image: url("../images/the-flatiron-building.jpg");
    text-align: center;
    font=font-family: helvetica;
    font-size: 23px;
    font-weight: bold;
    color: white;
  }
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;;
      height: auto;
   }
  .bottom {
    font-family: helvetica;
    font-size: 11px;
    color: white;
    background-color: dimgray;
    text-align: left;
  }
